

<%- contentFor('hero') %>
	<section class="hero">
		<div class="hero-content">
			<h2>My Math Professional!</h2>
			<p>Let's Do The Math</p>

			<a href="/events" class="btn btn-lg btn-primary">See Projects</a>
			<a href="/events/create" class="btn btn-lg btn-primary">Create A Project</a>
			
		</div>

	</section>

<%- contentFor('body') %>
	<div class="jumbotron text-center">
	Home Page
	</div>
